/* src/components/marker.css */

.marker {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: blue;
    cursor: pointer;
  }
  
  .marker.selected {
    background-color: red;
  }
  